/* about hero style start */
.about {
  background-image: url("../images/bg-pattern-about-1-mobile-nav-1.svg");
  background-repeat: no-repeat;
  background-position: right -100px bottom;
}

.about-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12rem;
}
.about-hero-title {
  color: var(--white-color-items);
}
.about-hero-div {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.about-hero-prg {
  color: var(--white-color-items);
}

/* about hero style end */

/* directors style start */
.directors {
  background-color: var(--green-black-green-color);
  background-image: url("../images/bg-pattern-about-2-contact-1.svg"),
    url("../images/bg-pattern-home-4-about-3.svg");
  background-repeat: no-repeat;
  background-position: left -100px top, right bottom;
  padding-top: 14rem;
  padding-bottom: 14rem;
}

.directors-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 6.4rem;
}

.director-title {
  color: var(--white-color-items);
  font-size: 4.8rem;
  font-weight: var(--font-weight-700);
  line-height: 1;
}

.director-list {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.director-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  width: 35rem;
  height: 28.1rem;
  background-color: var(--green-black-color);
  margin-bottom: 4.8rem;
  padding-top: 3.2rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}

.director-item-img {
  width: 9.6rem;
  height: 9.6rem;
  border-radius: 50%;
  display: flex;
  border: solid 2px var(--aqua-color);
}

.derector-item-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.director-name {
  font-size: var(--fs-18);
  line-height: 1.5;
  color: var(--stories-subtitle-color);
  font-weight: var(--font-weight-700);
}

.director-name-subtitle {
  font-size: 1.5rem;
  line-height: 1.6;
  color: var(--white-color-items);
  font-weight: var(--font-weight-500);
  font-style: italic;
  margin-bottom: 4.2rem;
}

.about-messenjers-list {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.about-messenjers-item {
  margin-bottom: 3.2rem;
}

.about-messenjers-item a svg path:hover {
  fill: var(--orange-color);
}

.cross-img {
  width: 5.6rem;
  height: 5.6rem;
  background-color: var(--orange-color);
  padding: 2rem;
  border-radius: 50%;
  margin-bottom: 4.2rem;
}

.cross-img:hover {
  background-color: var(--aqua-color);
}

.allan-prg {
  text-align: center;
  font-weight: var(--font-weight-600);
  padding-top: 0.8rem;
}

.close-img {
  background-color: var(--aqua-color);
}

.close-img:hover {
  background-color: var(--orange-color);
}
/* direktors style end */

/* clients start */
.clients {
  background-color: var(--green-black-color);
  background-image: url("../images/bg-pattern-about-4.svg");
  background-repeat: no-repeat;
  background-position: left top;
}
.sleints-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6.4rem;

  padding-top: 14rem;
  padding-bottom: 14rem;
}

.clients-title {
  font-size: 4.8rem;
  font-weight: var(--font-weight-700);
  line-height: 1;
  color: var(--white-color-items);
}
.clients-list {
  display: flex;
  align-items: center;
  gap: 8rem;
}
.clients-item {
}

.clients-item a img {
  width: 18rem;
}
/* clients end */
